@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap');

*{
    margin:0;
    padding:0;
}
body{
    font-family: "Exo", sans-serif;
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    background: #03072a;
}
.card{
    padding:10px 20px;
    backdrop-filter:blur(6px);
    border-radius:20px;
    border:2px solid rgb(255 255 255 / 13%);
    color:rgba(255,255,255,0.9);
    background-color: rgba(255,255,255,0.06);
    box-shadow:20px 20px 22px rgb(0 0 0/20%);
    height:300px;
}
.card-title{
    font-weight:700;
}
.card-text{
    font-weight:400;
}
.circle{
    width:60px;
    height:60px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: linear-gradient(93deg,#6d00e1,#270c8aeb);
    transform:translateY(-32px);
    border-radius:50%;
    box-shadow:#2100e2db 0px 28px 71px 8px;
}
.circle i{
    font-size:25px;
    font-weight:700;
}
.circle1{
    background: linear-gradient(93deg, #ffff00,#ff4800);
    box-shadow:#e2d600db 0px 28px 71px 8px;
}
.circle3{
    background: linear-gradient(93deg, #14ff00,#01995a);
    box-shadow:#1de200db 0px 28px 71px 8px;
}
.btn{
    outline:none;
    display:flow-root;
    width:fit-content;
    margin:auto;
    padding:10px 20px;
    color:#fff;
    border:2px solid rgb(255 255 255 / 13%);
    border-radius:50px;
}
.btn:hover{
    color:#fff;
    outline:none;
}
.btn1:hover{
    border:0px !important;
    background: linear-gradient(93deg,#6d00e1,#270c8aeb);
    box-shadow:#2100e2db 0px 28px 71px 8px;
}
.btn2:hover{
    border:0px !important;
    background: linear-gradient(93deg, #ffff00,#ff4800);
    box-shadow:#e2d600db 0px 28px 71px 8px;
}
.btn3:hover{
    border:0px !important;
    background: linear-gradient(93deg, #14ff00,#01995a);
    box-shadow:#1de200db 0px 28px 71px 8px;
}
